body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    margin-top: 15px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 5px;
}

nav a:hover {
    background-color: #F3A847;
    color: black;
    transition: background-color 0.3s ease;
}


main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #fff;
}

#cart-items {
    text-align: center;
    max-width: 600px;
    width: 100%;
    background-color: #fafafa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#cart-items h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

#cart-list {
    list-style-type: none;
    padding: 0;
}

#cart-list li {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cart-list li:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

#cart-list button {
    background-color: #FF6347;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#cart-list button:hover {
    background-color: #FF4500;
    transition: background-color 0.3s ease;
}

h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

#checkout-button {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    flex-shrink: 0;
    margin-top: auto;
    font-size: 0.9em;
}


@media (max-width: 600px) {
    nav a {
        display: block;
        margin: 5px 0;
    }
    
    #cart-items {
        padding: 15px;
    }

    #cart-list li {
        flex-direction: column;
        align-items: flex-start;
    }
}
